{% extends 'base.html.twig' %}

{% block title %}Blog des 2BCI à Need For School{% endblock %}

{% block body %}

<div class="landing-page">
    <div class="main-title">
        <h1>Blog des 2BCI à Need For School</h1>
    </div>
</div>
{% endblock %}
