<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
        <title>{% block title %}Blog des 2BCI{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/user">Connexion</a></li>
            </ul>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
