{% extends 'base.html.twig' %}

{% block title %}Les Articles{% endblock %}

{% block body %}

    <div class="full-articles">
        <h2 class="article-title">Nos Articles</h2>

        <div class="articles-show">
            <ul>
                {% for article in allArticles %}
                    <li><a href="{{ path('app_single_article', {'id': article.id}) }}">{{ article.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
